.red{
    background-color: red;
    height: 100vh;
    width: 100%
}
.blue{
    background-color: blue;
    height: 100vh;
    width: 100%
}
.pink{
    background-color: pink;
    height: 100vh;
    width: 100%
}
.violet{
    background-color: violet;
    height: 100vh;
    width: 100%
}
.green{
    background-color:green;
    height: 100vh;
    width: 100%
}
.white{
    background-color:whitesmoke;
    height: 100vh;
    width: 100%
}

